@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');
@import url('./header.css');
@import url('./footer.css');

:root {
    --fonte-principal:"Press Start 2P", system-ui; ;
    --fonte-secundaria: "IBM Plex Mono", monospace;
    --preto: #000000;
    --branco: #FFFFFF;
    --vinho: #8c0375;
    --rosa: #c004d9;
    --roxo: #9303a6;
    --roxo-escuro: #5d04d9;
    --azul: #03318c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);

}

.container{
    padding: 60px 40px;
    display: flex;
    gap: 70px;
    justify-content: space-around;
}

.container__mostrar{
    padding: 40px;

}

.container__mostrar__titulo{
    text-align: center;
    font-size: 24px;
    padding-bottom: 40px;
}


.container__mostrar__produtos{   
    padding: 15px 57px 15px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    box-shadow: -12px 10px 6px 0px #00000025;
    max-height: 971px;
    max-width: 678px;
    overflow-y: scroll;
}

.container__mostrar__produtos::-webkit-scrollbar{
    width: 10px;

}

.container__mostrar__produtos::-webkit-scrollbar-thumb{
    background-color: #d6d6d6;
    border-radius: 10px;
}


.produto__card {
    width:  196px;
    background-color: var(--roxo-escuro);
    border: 3px solid var(--preto);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: -5px 6px 3px 0px #00000025;
    border-radius: 10px;
    font-family: var(--fonte-secundaria);
    color: var(--branco);
    margin-bottom: 4rem;
    gap: 10px;
}

.produto-imagem{
    box-sizing: border-box;
    width: 100%;
    height: 174px;
    background-size: cover;
    border: 3px solid var(--preto);
    border-radius: 10px;
}

.produto-nome{
    font-size: 15px;  
}

.produto-valor{
    font-size: 16px;
    font-weight: 600; 
}

.produto-delete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cadastrar{
    padding: 40px;
}

.container__cadastrar__formulario{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.formulario__titulo{
    text-align: center;
    font-size: 24px;
}

.campo__escrita{
    box-sizing: border-box;
    width: 100%;
    border: 3px solid var(--azul);
    border-radius: 30px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    line-height: 26px;
    padding: 1rem;   
}

.campo__escrita:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.campo__escrita::placeholder{
    font-family: var(--fonte-secundaria);
    color: var(--azul);
    font-size: 16px;
    font-weight: 600;
}

.formulario__botao{
    display: flex;
    gap:13px;
}

.mensagem-erro {
    color: red;
    font-size: 15px;
    font-family: var(--fonte-secundaria);
}

.botao{
    width: 100%;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 500;
    border: 3px solid var(--azul);
    border-radius: 15px;
    line-height: 25px;
    padding: 15px 65px;
}

#guardar{
    background-color: var(--azul);
    color: var(--branco);
}

#limpar{
    background-color: var(--branco);
    color: var(--azul);
}

@media only screen and (max-width: 460px){
    .cabecalho{
        padding: 20px 0;
        margin-bottom:20px;
    }
    
    .container{
        padding: 0;
        gap: 0;
        flex-direction: column-reverse;
    }

    .container__mostrar{
        padding: 0;

    }

    .container__mostrar__produtos{
        padding: 0;
        padding-left: 10px;
        box-shadow: none;
        max-width: 687px;
        overflow-x: scroll;
        max-height: none;
        
    }

    .botao{
        padding: 15px;
    }
}