@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');
@import url('./header.css');
@import url('./footer.css');

:root {
    --fonte-principal:"Press Start 2P", system-ui; ;
    --fonte-secundaria: "IBM Plex Mono", monospace;
    --preto: #000000;
    --branco: #FFFFFF;
    --vinho: #8c0375;
    --rosa: #c004d9;
    --roxo: #9303a6;
    --roxo-escuro: #5d04d9;
    --azul: #03318c;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
}

.container{
    padding: 60px 40px;
    display: flex;
    gap: 70px;
}

.container__mostrar__titulo{
    font-size: 24px;
    padding-top: 40px;
}

.container__mostrar__produtos{
    padding: 40px;
}

.container__mostrar__produtos{    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1;
}

.produto__item {
    height: 258px;
    width: 196px;
    background-color: var(--roxo-escuro);
    padding: 10px;
    border: 3px solid var(--preto);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--fonte-secundaria);
    color: var(--branco);
}

.produto-imagem{
    border: 3px solid var(--preto);
    border-radius: 10px;
}

.produto-nome{
    font-size: 15px;  
}

.produto-valor{
    font-size: 16px;
    font-weight: 600; 
}

.produto-remover{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

